.form-label {
  font-weight: bold;
  font-size: 1.1rem;
  color: #333;
}

.select2-container .select2-selection {
  height: 45px;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: all 0.3s ease;
}
