/* CSS do Form Plugin */
.form-plugin {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    max-width: 800px;
    margin: 1rem auto 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: fit-content;
    min-width: 300px;
}
.form-plugin-title { font-size: 1.25rem; margin-bottom: .75rem; }
.btn-submit {
    background:#1565c0;
    color:#fff;
    border:0;
    padding:.5rem 1rem;
    border-radius:4px;
    margin-top: 1rem;
}

